.casa {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(75, 71, 47);
    background-color: rgb(185, 183, 183);
}

.casaPreta {
    background-color: rgb(36, 36, 36);
}

.casa:hover {
    filter: saturate(4);
}