.grade_principal {
    display: grid;
    background-color: rgb(143, 146, 145);
    
    grid-template-columns: repeat(8, 67.8px);
    grid-template-rows: repeat(8, 60px);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}