.promoter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 15em;
    padding: 10px;
    background-color: var(--corDoPromoter);
    gap: .3em;
}

@media screen and (max-width: 720px) {
    .promoter {
       grid-template-columns: 1fr;
       width: 5em;
    }
}