:root{
    --corCasaPar: rgb(223, 223, 223);
    --corCasaImpar: rgb(121, 121, 121);
    --corDoPromoter: rgb(112, 112, 112);
    --corDoPromoterOption: rgb(184, 181, 181);
    --alvo: rgb(196, 65, 65);
    --cheque: rgb(164, 103, 221);
}

body {
    font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}